@import "../../styles/colors";

.loginPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: $_DDD;
}

.formWrapper {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: thin solid $_CCC;
  border-radius: 5px;
  padding: 20px 30px;
  background: $_FFF;

  button {
    margin: 20px 0;
  }
}
